<footer>
  <h4>“あなたのShopifyビジネスをサポートする<br class="md-down-only">ウェブエンジニアリングパートナー”</h4>
  <a href="/" class="footer-logo">
    <img loading="lazy" src="./images/logo_sp.svg" alt="Site Logo">
    <span>（ラグチューン）</span>
  </a>
  <a href="https://www.lancers.jp/profile/DemarKo117?srsltid=AfmBOopF57QJbsOmnlY61X6SgGMZMpxDry0n55WyqcKHhcVdVCLveawb"
    class="footer-lancers"
    target="_blank"
    rel="noopener noreferrer">
    <img loading="lazy" src="./images/logo_lancers.svg" alt="Lancers Badge">
  </a>

  <ul class="footer-nav">
    <li><a href="/policy">プライバシーポリシー</a></li>
    <li><a href="/law">特商法に関する表記</a></li>
  </ul>

  <p class="footer-copy">&copy; 2025 Ragtune. All rights reserved.</p>

  <img loading="lazy" src="./images/footer-bg-left.png" class="md-up-only ft-left">
  <img loading="lazy" src="./images/footer-bg-right.png" class="md-up-only ft-right">
</footer>
