<!-- <header>
  <h1>サイトタイトル（Header）</h1>
  <nav>
    <a href="#section1">Section1</a> |
    <a href="#section2">Section2</a> |
    <a href="#section3">Section3</a> |
    <a href="#section4">Section4</a>
  </nav>
</header> -->


<header class="site-header">
  <div class="header-inner">
    <!-- Logo -->
    <div class="header-logo">
      <a href="/">
        <img class="md-up-only" src="./images/logo-v2-hz.svg" alt="Site Logo">
        <img class="md-down-only" src="./images/logo_sp.svg" alt="Site Logo">
      </a>
    </div>

    <!-- Right navigation -->
    <nav class="header-nav">
      
      <!-- Language Selector -->
      <div class="lang-selector hover-open">
        <span class="lang-btn">
          <img src="./images/jp-flag.svg" alt="JP">
        </span>
        <ul class="lang-dropdown">
          <li data-lang="ja"><img src="./images/jp-flag.svg"></li>
          <li data-lang="en"><img src="./images/us-flag.svg"></li>
        </ul>
      </div>


      <!-- Menu -->
      <div class="menu-selector hover-open">
        <span class="menu-btn">Menu</span>
        <ul class="menu-dropdown">
          <li><a href="#section1">Section1</a></li>
          <li><a href="#section2">Section2</a></li>
          <li><a href="#section3">Section3</a></li>
          <li><a href="#section4">Section4</a></li>
        </ul>
      </div>


      <!-- Contact -->
      <a
        href="https://formspree.io/f/xxxxxxx"
        class="contact-btn"
      >
        Contact
      </a>
    </nav>
  </div>
</header>

