<header class="site-header">
  <div class="header-inner">

    <!-- Logo -->
    <div class="header-logo">
      <a href="/en/">
        <img loading="lazy" class="sm-up-only" src="../images/logo-v2-hz.svg" alt="Site Logo">
        <img loading="lazy" class="sm-down-only"
          src="../images/RagtuneLogo_vertical.png"
          alt="Site Logo"
          style="
            height: 52px;
            width: auto;
            padding-inline: 8px;
            padding-block: 4px;
          ">
      </a>
    </div>

    <!-- Right navigation -->
    <nav class="header-nav">

      <!-- Language Selector -->
      <div class="lang-selector hover-open">
        <span class="lang-btn">
          <img loading="lazy" src="../images/us-flag.svg" alt="EN">
        </span>
        <ul class="lang-dropdown">
          <li data-lang="ja">
            <a href="/"><img loading="lazy" src="../images/jp-flag.svg" alt="Japanese"></a>
          </li>
          <li data-lang="en">
            <a href="/en/"><img loading="lazy" src="../images/us-flag.svg" alt="English"></a>
          </li>
        </ul>
      </div>

      <!-- Menu -->
      <div class="menu-selector hover-open">
        <span class="menu-btn">Menu</span>
        <ul class="menu-dropdown">
          <li><a href="/en/">Home</a></li>
          <li><a href="/en/policy.html">Privacy Policy</a></li>
          <li><a href="/en/law.html">Legal Notice</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <a href="/en/contact.html" class="contact-btn">
        Contact
      </a>
    </nav>
  </div>
</header>
