<section id="section2">
  <img id="s2-bg" class="medium-up" src="./images/s2-bg-pc.svg" alt="background">

  <div class="s2-title-group">
    <h2>About</h2>
    <p>Ragtuneは、世界中のShopifyストアオーナーが理想のサイトを築けるようお手伝いする、信頼できるパートナーです。</p>
    <p>フロントエンドエンジニアの技術に加え、デザインやマーケティング、バックエンド開発のプロたちと一緒に複雑な発注フローもワンストップですっきりサポート。あなたのビジョンをグローバルな舞台で実現します！</p> 
  </div>

  <div class="s2-image-group medium-down">
    <img class="earth" src="./images/s2-bg-sp.svg" alt="shopify">
    <img class="about" src="./images/s2-about.svg">
  </div>
</section>
