<section id="section4">
  <div class="section-header-group">
    <h2 id="services">
      <span class="md-up-only">Custom Service Plans: </span>
      Tailored to Your Needs
    </h2>
    <h3>How I Can Support Your Business</h3>
    <p>The perfect solutions tailored just for you</p>
  </div>

  <div class="tailored-section">
    <h4>“Which area do you need help with?”</h4>

    <ul class="tailored-section-contents">

      <!-- 1 -->
      <li>
        <img loading="lazy" src="../images/s4-image01.webp" alt="">
        <div>
          <h5>Store Setup</h5>
          <p>Complete Shopify setup for a smooth and confident start.</p>
        </div>
      </li>

      <!-- 2 -->
      <li>
        <img loading="lazy" src="../images/s4-image02.webp" alt="">
        <div>
          <h5>Theme Development & App Configuration</h5>
          <p>Crafting a unique storefront that reflects your brand’s identity.</p>
        </div>
      </li>

      <!-- 3 -->
      <li>
        <img loading="lazy" src="../images/s4-image03.webp" alt="">
        <div>
          <h5>UI/UX Design & Design System Creation</h5>
          <p>Brand-new design proposals or refreshing your presence to attract new customers.</p>
        </div>
      </li>

      <!-- 4 -->
      <li>
        <img loading="lazy" src="../images/s4-image04.webp" alt="">
        <div>
          <h5>Consulting & Ongoing Maintenance</h5>
          <p>Providing tailored support for sustainable growth and improved sales.</p>
        </div>
      </li>

      <!-- 5 -->
      <li>
        <img loading="lazy" src="../images/s4-image05.webp" alt="">
        <div>
          <h5>Digital Marketing</h5>
          <p>Accelerating traffic and engagement to boost reach and conversions.</p>
        </div>
      </li>

      <!-- 6 -->
      <li>
        <img loading="lazy" src="../images/s4-image06.webp" alt="">
        <div>
          <h5>Custom App Development</h5>
          <p>Unlocking new possibilities with tailored apps that enhance customer experience.</p>
        </div>
      </li>

    </ul>
  </div>
</section>
