<section id="section4">
  <div class="section-header-group">
    <h2 id="services"><span class="md-up-only">Custom Service Plans: </span>Tailored to Your Needs</h2>
    <h3>How I Can Help You</h3>
    <p>あなたのニーズにぴったりフィット！</p>
  </div>

  <div class="tailored-section">
    <h4>“どの分野でお手伝いが必要ですか？”</h4>
    <ul class="tailored-section-contents">
      <!-- 1 -->
      <li>
        <img loading="lazy" src="./images/s4-image01.webp">
        <div>
          <h5>初期構築</h5>
          <p>Shopifyのセットアップ、スムーズなスタート</p>
        </div>
      </li>
      <!-- 2 -->
      <li>
        <img loading="lazy" src="./images/s4-image02.webp">
        <div>
          <h5>テンプレ構築・アプリ設定</h5>
          <p>あなたのスタイルを反映、ユニークな店舗に</p>
        </div>
      </li>
      <!-- 3 -->
      <li>
        <img loading="lazy" src="./images/s4-image03.webp">
        <div>
          <h5>UI/UX構築・デザイン定義書作成</h5>
          <p>ブランドの新規デザイン提案、<br>または新規顧客を引き寄せる存在感の刷新</p>
        </div>
      </li>
      <!-- 4 -->
      <li>
        <img loading="lazy" src="./images/s4-image04.webp">
        <div>
          <h5>コンサル・運用保守</h5>
          <p>お悩みに寄り添い、持続的な成長を支援<br>売上UPを実現する最適なアプローチを検討</p>
        </div>
      </li>
      <!-- 5 -->
      <li>
        <img loading="lazy" src="./images/s4-image05.webp">
        <div>
          <h5>デジタルマーケティング</h5>
          <p>トラフィックとエンゲージメントを加速し、<br>リーチとコンバージョンを向上</p>
        </div>
      </li>
      <!-- 6 -->
      <li>
        <img loading="lazy" src="./images/s4-image06.webp">
        <div>
          <h5>カスタムアプリ開発</h5>
          <p>アプリで可能性を引き出し、顧客体験を向上</p>
        </div>
      </li>
    </ul>
  </div>
</section>
