<section id="section2">
  <div class="s2-image-group">
    <!-- pc image -->
    <img loading="lazy" id="s2-bg-pc" class="sm-up-only" src="./images/s2-bg-pc.svg" alt="background">
    <!-- mobile image -->
    <img loading="lazy" id="s2-bg-mobile" class="sm-down-only" src="./images/s2-bg-mobile.svg" alt="background">
  </div>

  <div class="s2-title-group">
    <h2 id="about">About</h2>
    <p>Ragtuneは、世界中のShopifyストアオーナーが理想のサイトを築けるようお手伝いする、信頼できるパートナーです。</p>
    <p>フロントエンドエンジニアの技術に加え、デザインやマーケティング、バックエンド開発のプロたちと一緒に複雑な発注フローもワンストップですっきりサポート。あなたのビジョンをグローバルな舞台で実現します！</p> 
  </div>
</section>
