/* =========================================
  0. Root Variables
========================================= */
:root {
  --border: #efefef;
  --image-bg: #fdfdfd;
  --sub-yellow: #f5d566;
  --sub-orange: #f5a366;
  --sub-mint: #66f5df;
  --sub-sky: #56c7f5;
  --primary-main: #665df5;
  --primary-light: #8a85f9;
  --primary-dark: #4a48c6;
  --text-dark: #161617;
  --text-main: #58585d;
  --gray-main: #f2f2f2;
  --gray-light: #e6e6e6;

  --font-jp: "Noto Sans JP", sans-serif;
  --font-allura: "Allura", cursive;
  --font-mulish: "Mulish", sans-serif;

  --s4-10: clamp(0.25rem, 0.984vw + 0.01rem, 0.625rem);

  --s10-12: clamp(0.625rem, 0.328vw + 0.545rem, 0.75rem);
  --s10-16: clamp(0.625rem, 0.984vw + 0.385rem, 1rem);

  --s12-16: clamp(0.75rem, 0.656vw + 0.59rem, 1rem);

  --s13-20: clamp(0.813rem, 1.148vw + 0.533rem, 1.25rem);

  --s14-16: clamp(0.875rem, 0.328vw + 0.795rem, 1rem);
  --s14-24: clamp(0.875rem, 1.639vw + 0.475rem, 1.5rem);

  --s16-18: clamp(1rem, 0.328vw + 0.92rem, 1.125rem);
  --s16-20: clamp(1rem, 0.381vw + 0.907rem, 1.25rem);
  --s16-22: clamp(1rem, 0.984vw + 0.76rem, 1.375rem);
  --s16-24: clamp(1rem, 1.311vw + 0.68rem, 1.5rem);
  --s16-32: clamp(1rem, 2.623vw + 0.361rem, 2rem);
  --s16-40: clamp(1rem, 3.934vw + 0.041rem, 2.5rem);

  --s18-20: clamp(1.125rem, 0.328vw + 1.045rem, 1.25rem);
  --s18-24: clamp(1.125rem, 0.984vw + 0.885rem, 1.5rem);
  --s18-28: clamp(1.125rem, 1.639vw + 0.725rem, 1.75rem);

  --s20-40: clamp(1.25rem, 3.279vw + 0.451rem, 2.5rem);

  --s22-28: clamp(1.375rem, 0.984vw + 1.135rem, 1.75rem);
  --s22-40: clamp(1.375rem, 2.951vw + 0.656rem, 2.5rem);
  
  --s24-48: clamp(1.5rem, 3.934vw + 0.541rem, 3rem);
  
  --s32-60: clamp(2rem, 4.59vw + 0.881rem, 3.75rem);

  --s36-54: clamp(2.25rem, 2.951vw + 1.531rem, 3.375rem);

  --s40-50: clamp(2.5rem, 1.639vw + 2.1rem, 3.125rem);

  --s48-52: clamp(3rem, 0.656vw + 2.84rem, 3.25rem);
  --s48-120: clamp(3rem, 11.803vw + 0.123rem, 7.5rem);

  --s60-88: clamp(3.75rem, 4.59vw + 2.631rem, 5.5rem);
  --s60-120: clamp(3.75rem, 9.836vw + 1.352rem, 7.5rem);

  --s80-160: clamp(5rem, 13.115vw + 1.803rem, 10rem);
  
  --shadow-main: 5px 5px 15px 0 rgba(0, 0, 0, 0.10);
  --transition: opacity .2s cubic-bezier(.785,.135,.15,.86);
  --opacity: 0.7;
}

body {
  opacity: 0;
  transition: opacity 0.6s ease; /* 0.6s くらいが自然 */
}
body.page-loaded {
  opacity: 1;
}

/* =========================================
  1. Base
========================================= */
body {
  font-family: var(--font-jp);
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: var(--text-main);
}

header, section, footer {
  /* padding: 2rem; */
}

header, footer {
  /* background: #f0f0f0; */
}

nav a {
  /* margin-right: 1rem; */
}

form input,
form textarea {
  display: block;
  margin-bottom: 1rem;
  width: 100%; 
}

body img {
    max-width: 100%;
    height: auto;
}

/* =========================================
  2. Font Styles
========================================= */
p {
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--font-mulish);
    font-weight: 1000;
}
h1 {
    font-size: var(--s24-48);
    line-height: 1.5;
    color: var(--text-dark);
}
.s1-title-group>p {
    font-size: var(--s18-24);
    font-weight: 700;
    color: var(--text-main);
}
@media screen and (max-width: 999px) {
    .s1-title-group>p {
        line-height: 1.9;
    }
}

h2 {
    font-size: var(--s18-28);
    color: var(--primary-main);
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--s12-16);
}
h2:before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: var(--primary-main);
    border-radius: 30px;
}
.s2-title-group>p {
    font-size: var(--s16-24);
    line-height: 2;
}

@media screen and (max-width: 999px) {
    h2:before {
        width: 15px;
        height: 1.2px;
    }
}

h3 {
    font-size: var(--s22-40);
    color: var(--text-dark);
    line-height: 1.5;
}
.section-header-group>p {
    font-size: var(--s14-24);
    font-weight: 700;
}




/* =========================================
  3. Header Layout
========================================= */
.site-header {
    box-sizing: border-box;
    position: fixed;
    padding: var(--s16-20);
    width: 100vw;
    top: 0;
}

.header-inner {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-block: var(--s10-16);
    padding-inline: var(--s16-32);
    background-color: #fff;
    border-radius: 24px;
    box-shadow: var(--shadow-main);
    gap: var(--s16-40);
    font-family: var(--font-mulish);
    font-weight: 700;
}


/* =========================================
  4. Dropdown (Menu & Language)
========================================= */

/* 共通ボタン */
.lang-btn,
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

@media screen and (min-width: 1000px) {
  .lang-btn img, .lang-dropdown img {
      width: 40px;
  }
}

.lang-selector, .menu-selector {
    position: relative;
    display: flex;
    font-size: var(--s13-20);
    align-items: center;
    gap: var(--s4-10);
}

.lang-selector:after,
.menu-selector:after {
    content: '';
    display: block;
    width: var(--s12-16);
    height: var(--s12-16);
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
}


/* ▼ dropdown 共通スタイル */
.lang-dropdown, .menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    list-style: none;
    margin: 0;
    display: none;
    z-index: 200;
    padding-block: var(--s12-16);
    padding-inline: var(--s16-22);
    border-radius: 8px;
    box-shadow: var(--shadow-main);
}

.lang-dropdown li,
.menu-dropdown li {
  cursor: pointer;
  white-space: nowrap;
}
.lang-dropdown li+li,
.menu-dropdown li+li {
    margin-top: var(--s10-12);
}

.hover-open>span {
    transition: var(--transition);
}
.hover-open:hover>span {
    opacity: var(--opacity);
}

/* ▼ hoverで開く（親ごと hover） */
.menu-selector:hover .menu-dropdown {
  display: block;
}

.lang-selector:hover .lang-dropdown {
  display: block;
}
.lang-dropdown a, .menu-dropdown a {
    text-decoration: none;
    color: var(--text-main);
    transition: var(--transition);
    font-weight: 500;
}
.lang-dropdown a:hover, .menu-dropdown a:hover {
    opacity: var(--opacity);
}


/* =========================================
  5. Contact Button
========================================= */
.contact-btn {
    font-size: var(--s13-20);
    background: var(--primary-main);
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    transition: var(--transition);
    text-align: center;
}

.contact-btn:hover {
  opacity: var(--opacity);
}
/* =========================================
  6. Client Swiper
========================================= */
.client-swiper .swiper-slide {
  background: #fafafa;
  padding: 20px;
  box-sizing: border-box;
  height: 300px;
  opacity: .2;
  transition: opacity .3s ease;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* アクティブだけ濃くする */
.client-swiper .swiper-slide-active,
.client-swiper .swiper-slide-next,
.client-swiper .swiper-slide-prev {
  opacity: 1;
}

.client-image img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
}

.client-meta {
  flex: 1;
}

.client-meta h4 {
  margin: 0 0 .2rem;
}

/* コントロール（左右矢印） */
.client-swiper-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  width: 28px;
  height: 28px;
  color: #333;
}

/* =========================================
  7. Media Queries
========================================= */
@media screen and (max-width: 999px) {
  .md-up-only {
    display: none !important;
  }
}

@media screen and (min-width: 1000px) {
  .md-down-only {
    display: none !important;
  }
}