:root {
  --border: #efefefff;
  --image-bg: #fdfdfdff;
  --sub-yellow: #f5d566ff;
  --sub-orange: #f5a366ff;
  --sub-mint: #66f5dfff;
  --sub-sky: #56c7f5ff;
  --primary-main: #665df5ff;
  --primary-light: #8a85f9ff;
  --primary-dark: #4a48c6ff;
  --text-dark: #161617ff;
  --text-main: #58585dff;
  --gray-main: #f2f2f2ff;
  --gray-light: #e6e6e6ff;
  --font-jp: "Noto Sans JP", sans-serif;
  --font-allura: allura, sans-serif;
  --font-mulish: mulish, sans-serif;  
  --h2-font: normal 400 24px/28.8px var(--font-jp);
  --h2-bold-desktop-font: normal 700 24px/28.8px var(--font-jp);
  --h2-bold-mobile-font: normal 700 18px/34.2px var(--font-jp);
  --body-desktop-font: normal 400 16px/19.2px var(--font-jp);
  --body-s-font: normal 400 14px/16.8px var(--font-jp);
  --body-mobile-font: normal 400 14px/16.8px var(--font-jp);
  --h4-desktop-font: normal 700 18px/21.6px var(--font-jp);
  --h4-mobile-font: normal 700 16px/25.6px var(--font-jp);
  --link-normal-font: normal 400 16px/19.2px var(--font-jp);
  --link-small-font: normal 400 12px/14.4px var(--font-jp);
  --h2-subheading-ja-mobile-font: normal 700 14px/16.8px var(--font-jp);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}

header, section, footer {
  padding: 2rem;
}
header, footer {
  background: #f0f0f0;
  padding: 1.5rem;
}
nav a {
  margin-right: 1rem;
}
form input, form textarea {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
}
h1 {
  color: red;
  padding-inline: 2rem;
}
/* font  */
.ft-a {
  font-family: allura, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ft-en {
  font-variation-settings: "wght" 1000;
}
.ft-ja {
  font-family: "Noto Sans JP", sans-serif;
}
.ft-cn {
  font-size: 1.5rem;
  color: var(--sub-sky);
  line-height: 1.5;
}

/* add styles here */
h2 {
  color: var(--primary-dark);
  font: var(--h2-font);
  padding-block: 5rem;
}